# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# node_modules
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/.next/
frontend/.env
frontend/.env.local
node_modules
node_modules
